{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Create a new Category</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('addCategory') }}" method = "post">

				<label for="category_name">Name:</label>
				<input type ="text" class="form-control" maxlength="80" name="category_name">
				
				<a href="{{ url_for('catalog') }}" class='btn btn-primary' role='button'>
					Cancel
				</a>

				<button type='submit' class='btn btn-primary' id='submit'>
					Create
				</button>
			</form>
		</div>
	</div>
{% endblock %}
